body{
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: white;
}
.container{
  padding: 3% 15% 7%;
}
h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
h2{
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: bolder;

}
/* navbar */
.navbar-name{
  font-family: 'Baloo Tamma 2', cursive;

  font-size: 3.5rem;
  color: #fff;

  }
  .navbar-name:hover{
    color: #fff;
  }
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
/* Download buttons  */
.download-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}
/* Features */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}


/* testimonials */

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item{
  padding: 7% 15% 15%;
}
.testimonials-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-image1{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
width: 15%;
margin: 20px 20px 50px;
}

/* pricing */
#pricing{
  padding: 90px;
  text-align: center;
}
.pricing-colum{
  padding: 3% 2%;
}

 #cta{
   background-color: #ff4c68;
   font-family:"Montserrat";
   text-align: center;
   color: #fff;
   padding: 20px 10px 5px;
 }
 .call-btn{
   font-family: sans-serif;
   }
   #footer{
     background-color: #fff;
     text-align: center;
     padding: 4% 4% 2%;
   }
   .footer-img{
     margin: 20px 10px;
   }



@media(max-width:1028px){

#title{
  text-align: center;
}
.title-image {
  position: static;
  transform: rotate(0);
}






















/* <section id="testimonials">

  <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
  <img class="testimonials-image" src="images/dog-img.jpg" alt="dog-profile">
  <em>Pebbles, New York</em>

   <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
    <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
    <em>Beverly, Illinois</em>

</section> */
